<div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <%= image_tag("sample1.jpg", alt: "Generic placeholder image", class: "img-circle") %>
          <h2>行业的先行者</h2>
          <p class="brief-intro">
            成立二十余载的电子、机械、模具设计及制造商，是目前行业内最具竞争力的企业之一</p>
          <p>
            <a class="btn btn-default" href="#first" role="button">查看细节 &raquo;</a>
          </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag("sample1.jpg", alt: "Generic placeholder image", class: "img-circle") %>
          <h2>
            专业的技术支持
          </h2>
          <p class="brief-intro">
            公司致力于专业生产电子传感元器件，我们以丰富的生产经验，专业的生产水平，对从生产到加工的每一个质量细节都进行严格的检验把关。
          </p>
          <p>
            <a class="btn btn-default" href="#second" role="button">查看细节 &raquo;</a>
          </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag("sample1.jpg", alt: "Generic placeholder image", class: "img-circle") %>
          <h2>全方位的经营理念</h2>
          <p class="brief-intro">
            "精益求精、品质卓越"的生产理念，使我们能适应和满足不同市场的多样化需求,而得到全球客户的认可。
          </p>
          <p><a class="btn btn-default" href="#third" role="button">查看细节 &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><a id="first"></a>行业的先行者.<span class="text-muted"></span></h2>
          <p class="lead">
            南京华特莱思有限公司是国内最早专业生产汽车、IT、电子家电、OA办公设备、机械和建材行业、航天航空、电动工具等模具系列产品的企业之一。经过二十余载的不懈努力，与成为行业内最具有竞争力的企业之一。公司具有浓厚企业文化氛围，拥有众多科技研发生产人员和先进的科技生产设备。

          </p>
        </div>
        <div class="col-md-5">
          <%= image_tag("sample2.jpg", alt: "Generic placeholder image", class: "featurette-image img-responsive") %>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <%= image_tag("sample2.jpg", alt: "Generic placeholder image", class: "featurette-image img-responsive") %>
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading"><a id="second"></a>专业的技术支持. <span class="text-muted"></span></h2>
          <p class="lead">专业从事模具研发加工，设计与制造、塑料成型、电子元件加工及传感器设计制造和销售。2000年代开始进入汽车零部件行业，生产汽车开关、车身电子系统等。给上海大众、上汽、通用、吉利、奇瑞等主机厂供货。</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><a id="third"></a>全方位的经营理念 <span class="text-muted"></span></h2>
          <p class="lead">多年来，公司始终坚持”以质量求生存，以信誉求发展”的企业经营宗旨，执行ISO/TS16949：2009质量管理体系。严格筛选优质原材料，引进先进生产管理理念严格把关生产环节，打造优质产品。公司同时将优质服务作为产品的附加价值秉承“全方位服务，德育百年”的服务理念。全力做好全方位的服务，为客户提供专业的解决方案，技术咨询，共同研发，赢得了众多新老客户的信赖。</p>
        </div>
        <div class="col-md-5">
          <%= image_tag("sample2.jpg", alt: "Generic placeholder image", class: "featurette-image img-responsive") %>
        </div>
      </div>

      <hr class="featurette-divider">