<!-- <footer class="footer">
    <small>
        <%= link_to "南京华特莱思模塑有限公司", root_path %>
    </small>
    <nav>
        <ul>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
            <li><a href="#">News</a></li>
        </ul>
    </nav>
</footer> -->

<!-- <footer class="footer">
    <p class="copyright">
        &copy; 2014 南京华特莱思模塑有限公司 &middot; 
    </p>
    <p class="pull-right">
        <ul>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
            <li><a href="#">News</a></li>
        </ul>
    </p>
        
</footer> -->

<div class = "navbar navbar-default navbar-fixed-bottom">
    <div class = "container">
        <p class = "navbar-text pull-left">
            &copy; 2014 南京华特莱思模塑有限公司 &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a>
        </p>
        <p>
            <ul>
                <li><%= link_to "关于我们", about_path %></li>
                <li><%= link_to "联系合作", contact_path %></li>
                <li><a href="#">新闻</a></li>
            </ul>
        </p>
    </div>
</div>